src/main/mule/transacciones.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d45e8891-2db9-4ccd-8927-d65a789dd1dd" >
		<http:listener-connection host="localhost" port="8081" />
		<http:listener-interceptors >
			<http:cors-interceptor allowCredentials="true" >
				<http:origins >
					<http:origin url="http://localhost:4200/" accessControlMaxAge="3000" />
					<http:public-resource />
				</http:origins>
			</http:cors-interceptor>
		</http:listener-interceptors>
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="49bb119a-b0a7-455a-aa5b-7605b406bc6b" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/CooperativaJep" driverClassName="org.postgresql.Driver" user="postgres" password="roott" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="3883b42e-817f-4afe-815b-948ef9b1e8f8" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/CooperativaJep" driverClassName="org.postgresql.Driver" user="postgres" password="roott"/>
	</db:config>
	<db:config name="Database_Config2" doc:name="Database Config" doc:id="ce245cb0-7f94-401a-8dc0-ec3f3c072c99" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/CooperativaJep" driverClassName="org.postgresql.Driver" user="postgres" password="roott" />
	</db:config>
	<db:config name="Database_CooperativaJep" doc:name="Database Config" doc:id="940a066d-763a-4922-af56-1bd22d2fd7c4" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/CooperativaJep" driverClassName="org.postgresql.Driver" user="postgres" password="ZGBNtngk1669" />
	</db:config>
	<db:config name="Database_BancoAustro" doc:name="Database Config" doc:id="1cea0190-4bd9-42db-be9c-745b27fc6faa" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/BancoAustro" driverClassName="org.postgresql.Driver" user="postgres" password="ZGBNtngk1669" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="de5ec490-0e38-4407-ad2e-a0a5b167c77f" basePath="/v6/c029c6144331c4c5fba5a775" >
		<http:request-connection protocol="HTTPS" host="v6.exchangerate-api.com" />
	</http:request-config>
	<flow name="transaccionesFlow1" doc:id="4ff7efcb-9f90-4481-a7d5-856713115fb5" >
		<http:listener doc:name="Listener" doc:id="a5da4e0b-44ff-4415-89e1-8de677ea2570" config-ref="HTTP_Listener_config" path="/registro"/>
		<logger level="INFO" doc:name="Logger" doc:id="36526c93-5e4f-4e83-9a5c-df9cc910fc1b" message="este es el mensaje"/>
		<set-variable value="#[attributes.queryParams.Tipo]" doc:name="Set Variable" doc:id="88360e9b-0cba-476f-b3ba-c1ef5aaf999c" variableName="tipo"/>
		<choice doc:name="Choice" doc:id="8affd45d-a723-41b5-bb40-af504548458f" >
			<when expression="#[vars.tipo == 'Banco']">
				<logger level="INFO" doc:name="Logger" doc:id="efbbfd2e-c8df-4a0f-9a98-eace006f9730" message="aqui entra en el banco"/>
				<flow-ref doc:name="Banco" doc:id="b307e0e4-9f0e-4782-90e5-1fc9759e539d" name="listarPersonaJep"/>
			</when>
			<when expression="#[vars.tipo == 'Cooperativa']">
				<logger level="INFO" doc:name="Logger" doc:id="d2f6b1e5-9a2a-40b6-a296-8354a2a9dc9f" message="Esta en la cooperativa"/>
				<flow-ref doc:name="Flow Reference" doc:id="1aec46f3-af23-4d11-8fca-077a012b2a77" name="newPersonaJep"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="65cdad66-7c7f-440e-81e5-b5ceff1ce4eb" message="aqui no se encuentra nada"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="transactionsjep" doc:id="20742e5d-9b89-4531-b680-612d09ebb337" >
		<http:listener doc:name="Listener" doc:id="86e8fbb4-3151-4533-b4e5-481fa406b91d" config-ref="HTTP_Listener_config" path="/transaccionJep" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.operacion]" doc:name="Set Variable" doc:id="aa40a4f0-3550-40e4-bc45-4ffd7f6b520f" variableName="operacion"/>
		<choice doc:name="Choice" doc:id="0826d7a4-509b-4d40-9cb5-9174e9fbd063" >
			<when expression="#[vars.operacion=='sumar']">
				<flow-ref doc:name="Flow Reference" doc:id="726e75c6-b07d-4c19-afe8-4f53bf8269e0" name="transferenciaSumarJep"/>
			</when>
			<when expression="#[vars.operacion=='restar']">
				<flow-ref doc:name="Flow Reference" doc:id="9f89ca2e-6c4a-44c2-aa59-b4db0a94c0de" name="transferenciaRestarJep"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="9f1dcaaa-62a3-4790-b2ce-fd6c70124d6f" message='#["REVISAR LOS PARAMETROS PORFAVOR"]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="transferenciaSumarJep" doc:id="d999b920-01fe-448a-a65e-df3cbabfdba4" >
		<http:listener doc:name="Listener" doc:id="df59320d-fc32-4ce8-9d6c-89b98347b19b" config-ref="HTTP_Listener_config" path="/transferenciaSumarJep"/>
		<db:update doc:name="Update" doc:id="ca1e9f3a-9a66-4895-b1c0-9726b3aaf157" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[Update cuenta set saldo=saldo+:valor where numero_cuenta=:numeroCuenta]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'valor' : payload.valor,
'numeroCuenta': payload.numeroCuenta,
'idPersona' : payload.idPersona
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#["la transferencia se sumo con exito a la cuenta destino"]' doc:name="Set Payload" doc:id="6f4bb651-3863-454a-89de-09b4088409bd" />
	</flow>
	<flow name="transferenciaRestarJep" doc:id="22d8ca57-469d-4f52-bb0f-d4295cebfcc6" >
		<http:listener doc:name="Listener" doc:id="c1baa865-c352-4005-a48b-24528688e6c7" config-ref="HTTP_Listener_config" path="/transferenciaRestarJep" outputMimeType="application/json"/>
		<db:update doc:name="Update" doc:id="499df177-c7a8-4d9e-9593-94aeebc217f2" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[Update cuenta set saldo=saldo-:valor where numero_cuenta=:numeroCuenta and per_id = :idPersona]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'valor' : payload.valor,
'numeroCuenta': payload.numeroCuenta,
'idPersona' : payload.idPersona
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#["la transferencia se resto con exito a la cuenta origen"]' doc:name="Set Payload" doc:id="b1da2521-604c-4d4c-b88d-62c966470ae1" />
		<logger level="INFO" doc:name="Logger" doc:id="58737285-e919-489b-abcd-40c32cda2a79" />
	</flow>
	<flow name="transferenciaGuardarTransaccionJep" doc:id="74cef5e3-0209-4759-b109-3bb98c860a91" >
		<http:listener doc:name="Listener" doc:id="9bb16555-9a88-4d96-bcb0-9b5f444e4e96" config-ref="HTTP_Listener_config" path="/guardarTransaccionJep" outputMimeType="application/json"/>
		<db:insert doc:name="Insert" doc:id="e0f15bfb-2348-43a7-8ea8-a09bce1daffd" config-ref="Database_CooperativaJep">
			<db:sql><![CDATA[INSERT INTO transaccion (monto,numero_cuenta_destino,numero_cuenta_origen,persona_nombre_destino,tipo_transacion)
VALUES (:monto,:numero_cuenta_destino,:numero_cuenta_origen,:persona_nombre_destino,:tipo_transacion)

]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'id':payload.id,
'monto' : payload.monto,
'numero_cuenta_destino':payload.numero_cuenta_destino,
'numero_cuenta_origen':payload.numero_cuenta_origen,
'persona_nombre_destino':payload.persona_nombre_destino,
'tipo_transacion': payload.tipo_transacion
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#["se guardo satistactoriamente la transaccion"]' doc:name="Set Payload" doc:id="d506c34c-a941-4bd8-9322-3cd65483f613" />
		<logger level="INFO" doc:name="Logger" doc:id="8befb3bb-0c1a-46f5-89b6-6594209fe340" />
	</flow>
	<flow name="listarTransacionesJepAJep" doc:id="a8a4c18e-59c0-402d-a6ea-694f4ca98a1d" >
		<http:listener doc:name="Listener" doc:id="3e0ea0c6-3bdb-404e-87bc-55f6e475a0c1" config-ref="HTTP_Listener_config" path="/listarTransacionesJepAJep"/>
		<db:select doc:name="Select" doc:id="ccf9167b-f5c4-4c3e-a564-4c519df32b17" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[select * from transaccion where numero_cuenta_origen=:numeroCuenta or numero_cuenta_destino=:numeroCuenta]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'numeroCuenta':payload.numeroCuenta
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="e8000163-f12c-405e-a6db-4a2105b00213" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="listarTransaccionesJepDeBanco" doc:id="7c4670fb-9082-4bed-9b13-7e5448b0afa3" >
		<http:listener doc:name="Listener" doc:id="f10085aa-b406-43b6-a60c-fc4c85e58fa3" config-ref="HTTP_Listener_config" path="/listarTransaccionesJepDeBanco"/>
		<db:select doc:name="Select" doc:id="6900b6c8-549a-4081-a105-f0fd508f1088" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[select * from transaccion where numero_cuenta_origen=:numeroCuenta or numero_cuenta_destino=:numeroCuenta]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'numeroCuenta':payload.numeroCuenta
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="429125bd-565f-4661-98f8-0e44ae49ed5d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="LoginSystem" doc:id="bb3a8134-96b9-4688-a7ab-e242db67dcdf" >
		<http:listener doc:name="Listener" doc:id="5985bb4c-e1be-443b-bd67-0938081da1bd" config-ref="HTTP_Listener_config" path="/loginSystem" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.entidad]" doc:name="Set Variable" doc:id="7b24b679-a4fa-4c5e-8f11-cc678fb1e508" variableName="entidad"/>
		<choice doc:name="Choice" doc:id="e6a2b279-53a3-4bf0-9f5f-425c919a43c6" >
			<when expression="#[vars.entidad=='jep']">
				<flow-ref doc:name="Flow Reference" doc:id="3be45559-5ab4-4307-8365-dfdbccfa6cad" name="loginCooperativa"/>
				<logger level="INFO" doc:name="Logger" doc:id="efeb4786-0e4e-4604-86db-255ef0d22b10" message='#["CHOIVE == JEP"]'/>
			</when>
			<when expression="#[vars.entidad=='bancoA']">
				<flow-ref doc:name="Flow Reference" doc:id="1646702e-48ec-4c0d-b7b4-07eb91bd28ac" name="logginBancoAustro"/>
				<logger level="INFO" doc:name="Logger" doc:id="970f8d06-9ce2-4511-a8c9-2a0828e47333" message='#["CHOICE == BANCO "]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="30305d04-ba65-4605-8825-244b08146df5" message='#["REVISAR LA ESTRUCTURA DEL PATH"]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="loginCooperativa" doc:id="e3ab041c-48b0-4037-a0f8-70f8d4f197ed" >
		<http:listener doc:name="" doc:id="3f50a944-dec3-4b66-ab5e-b3077caf3113" config-ref="HTTP_Listener_config" path="/loginCooperativa"/>
		<db:select doc:name="Select" doc:id="5d3ee714-9072-4474-a89c-265c7ace2e9d" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[select * from persona where usuario = :usuario and password =:password ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'usuario' : payload.usuario,
'password' : payload.password
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d11c48e7-914e-4b5f-9446-7e5238324bfb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="logginBancoAustro" doc:id="b34c9d93-5dd6-4dc3-a649-1df0ebcb0bf4">
		<http:listener doc:name="Listener" doc:id="aa46c3c7-f21f-4be9-8461-55f38df3e7ad" config-ref="HTTP_Listener_config" path="/logginBancoAustro" outputMimeType="application/json"/>
		<db:select doc:name="Select" doc:id="145d01f5-1242-468a-a3da-f9df28f2363d" config-ref="Database_BancoAustro">
			<db:sql><![CDATA[select * from persona where usuario = :usuario and password =:password ]]></db:sql>
			<db:input-parameters><![CDATA[#[{
'usuario' : payload.usuario,
'password' : payload.password
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="99bec6c9-3198-4108-836b-826c2697d243">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="newPersonaJep" doc:id="80231cf2-6de9-42e8-a264-d73a2a004685" >
		<http:listener doc:name="Listener" doc:id="a6f5e128-00ee-4efc-8bcb-3481a784dc00" config-ref="HTTP_Listener_config" path="/newPersonaJep" allowedMethods="POST"/>
		<db:insert doc:name="Insert" doc:id="157805db-560f-40d5-b709-6fa6a64fbd50" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[INSERT INTO persona (id,apellido,cedula,nombre,password,usuario)
VALUES (:id,:apellido,:cedula,:nombre,:password,:usuario)]]></db:sql>
			<db:parameter-types />
			<db:input-parameters ><![CDATA[#[{
	'id' : payload.id,
	'apellido' : payload.apellido,
	'cedula' :payload.cedula,
	'nombre' : payload.nombre,
	'password' : payload.password,
	'usuario' : payload.usuario
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#["Se agrego corectamentame la persona"]' doc:name="Set Payload" doc:id="845a80f4-bd51-4836-b443-825f6eba78b0" />
	</flow>
	<flow name="listarPersonaJep" doc:id="20c88bf4-2d78-435b-8ae0-6fe29be7732d" >
		<http:listener doc:name="Listener" doc:id="c48b3e4d-1d73-4a8a-b153-272da656e536" config-ref="HTTP_Listener_config" path="/get"/>
		<db:select doc:name="Select" doc:id="5fff6034-dc4a-4da7-b9d0-9dcd63e429d8" config-ref="Database_CooperativaJep">
			<db:sql ><![CDATA[select * from persona]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2e2f915d-d72a-4aff-bb3d-fa58401eb91a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="transaccionesBancoAustro" doc:id="f16a639b-2178-4559-95d6-10c9b5c78474" >
		<http:listener doc:name="Listener" doc:id="a8a51386-54fe-4b3a-b8cf-7354337d4c63" config-ref="HTTP_Listener_config" path="/transaccionesBancoAustro" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.operacion]" doc:name="Set Variable" doc:id="72315c2c-94e0-47ce-9122-6f6efe2b0415" variableName="operacion"/>
		<choice doc:name="Choice" doc:id="864516f0-6381-45ba-acab-8d83316e7b47" >
			<when expression='#[vars.operacion=="sumar"]'>
				<flow-ref doc:name="Flow Reference" doc:id="a2d005c2-a443-4477-8e9e-4b06d4c2f339" name="transferenciaSumarBancoAustro"/>
			</when>
			<when expression="#[vars.operacion=='restar']">
				<flow-ref doc:name="Flow Reference" doc:id="63ba8ee8-9c02-44ff-a153-57ee6b864924" name="transferenciaRestarBancoAustro"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="b834a35e-1ce8-471d-9578-01bcad8a1bd6" message='#["REVISAR LOS PARAMETROS DEL PATH"]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="transferenciaSumarBancoAustro" doc:id="036615cd-c071-405a-9485-c5612c506fdd" >
		<http:listener doc:name="Listener" doc:id="62df8108-5834-40f9-a19c-4124cb5d0ef9" config-ref="HTTP_Listener_config" path="/transferenciaSumarBancoAustro" outputMimeType="application/json"/>
		<db:update doc:name="Update" doc:id="195d015c-11e2-4f60-92b5-176683e1a7db" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[Update cuenta set saldo=saldo+:valor where numero_cuenta=:numeroCuenta ]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'valor' : payload.valor,
'numeroCuenta': payload.numeroCuenta,
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='"la transferencia se sumo con exito a la cuenta destino"' doc:name="Set Payload" doc:id="1701490c-cdc5-44af-b334-7e5d879e94c1" />
		<logger level="INFO" doc:name="Logger" doc:id="512b2efb-ea2a-40c4-abc1-928c643a9c7c" />
	</flow>
	<flow name="transferenciaRestarBancoAustro" doc:id="37fe914d-e7a2-48c9-a342-2b340b947cd4" >
		<http:listener doc:name="Listener" doc:id="5b0dbc1e-eb5f-47f0-94a8-e2245b864a0f" config-ref="HTTP_Listener_config" path="/transferenciaRestarBancoAustro" outputMimeType="application/json"/>
		<db:update doc:name="Update" doc:id="50c0c1cd-7621-41e9-8f94-88fdeb172b41" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[Update cuenta set saldo=saldo-:valor where numero_cuenta=:numeroCuenta and per_id = :idPersona]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'valor' : payload.valor,
'numeroCuenta': payload.numeroCuenta,
'idPersona' : payload.idPersona
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#["Se ha restado correctamente"]' doc:name="Set Payload" doc:id="72851cb2-f7f6-4b45-a29e-11ba5c929280" />
		<logger level="INFO" doc:name="Logger" doc:id="0bcc58f9-92fc-4c3b-9d6f-64c411ddda8a" />
	</flow>
	<flow name="transferenciaGuardarTransaccionBancoAustro" doc:id="4ecc24b5-d9c2-4e80-9aee-818204b15285" >
		<http:listener doc:name="Listener" doc:id="547c7e25-a85b-4102-a546-417575cc3ff3" config-ref="HTTP_Listener_config" path="/transferenciaGuardarTransaccionBancoAustro" outputMimeType="application/json"/>
		<db:insert doc:name="Insert" doc:id="26cb5ab9-c16d-4622-aa90-e23063b37bd9" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[INSERT INTO transaccion (monto,numero_cuenta_destino,numero_cuenta_origen,persona_nombre_destino,tipo_transacion)
VALUES (:monto,:numero_cuenta_destino,:numero_cuenta_origen,:persona_nombre_destino,:tipo_transacion)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'id':payload.id,
'monto' : payload.monto,
'numero_cuenta_destino':payload.numero_cuenta_destino,
'numero_cuenta_origen':payload.numero_cuenta_origen,
'persona_nombre_destino':payload.persona_nombre_destino,
'tipo_transacion': payload.tipo_transacion
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#["Transaccion saved banco Austro"]' doc:name="Set Payload" doc:id="0c92c136-5db7-4198-bacb-a9fa88afe2d9" />
	</flow>
	<flow name="listarTransaccionesBancoABanco" doc:id="ed65ee92-1df6-4b38-b667-265e9f64b4f0" >
		<http:listener doc:name="Listener" doc:id="0a96f6f1-215b-4cfd-8f5a-020b8fe27b4a" config-ref="HTTP_Listener_config" path="/listarTransaccionesBancoABanco" outputMimeType="application/json"/>
		<db:select doc:name="Select" doc:id="62dc572b-7834-472a-a788-820d649607e8" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[select * from transaccion where numero_cuenta_origen=:numeroCuenta or numero_cuenta_destino=:numeroCuenta]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'numeroCuenta':payload.numeroCuenta
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fdabee18-e76d-4d38-84ac-0ebf18b63180" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="listarTransaccionesBancoDeJep" doc:id="3406bf6c-c62f-4d62-98b7-6accb2de71c6" >
		<http:listener doc:name="Listener" doc:id="16ddb265-3999-4b18-9486-0ff6ed55c307" config-ref="HTTP_Listener_config" path="/listarTransaccionesBancoDeJep"/>
		<db:select doc:name="Select" doc:id="19cef915-94cb-4bb3-93ca-9d586d2e9fe9" config-ref="Database_BancoAustro">
			<db:sql ><![CDATA[select * from transaccion where numero_cuenta_destino=:numeroCuenta]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'numeroCuenta':payload.numeroCuenta
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="36ae0212-643f-490f-b326-16b68a31f6b0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="saveTrasaccionsSystem" doc:id="deff7d52-fdfb-42b9-9221-ca04db84ad81" >
		<http:listener doc:name="Listener" doc:id="f6667ba2-4926-4aaf-bd70-eac8ea45b12e" config-ref="HTTP_Listener_config" path="/saveTrasaccionsSystem" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.entidad]" doc:name="Set Variable" doc:id="ab88e0dc-495a-4cc6-964e-4abd415929b1" variableName="entidad "/>
		<choice doc:name="Choice" doc:id="700ca646-5940-411a-8227-7f29cc4b956f" >
			<when expression="#[vars.entidad=='jep']">
				<flow-ref doc:name="Flow Reference" doc:id="12a1499f-5ed6-42c3-a5e0-856a11b03965" name="transferenciaGuardarTransaccionJep"/>
			</when>
			<when expression="#[vars.entidad=='bancoA']">
				<flow-ref doc:name="Flow Reference" doc:id="680eebc8-4c9f-41d8-8c9c-3b0644dd7c2a" name="transferenciaGuardarTransaccionBancoAustro"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a2722ecd-3d97-40a0-9726-ba0ed8a48490" message='#["REVISAR LOS PARA METROS DEL PATH O TRANSACCIONS SYSTEM  "]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="list_all_transacctions" doc:id="579e6b03-1184-4ffd-b0f2-2cf4965cfbe3" >
		<http:listener doc:name="Listener" doc:id="eb36b2cf-37f0-43ca-8523-211fbcf47eb5" config-ref="HTTP_Listener_config" path="/list_all_transacctions" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.entidadOperacion]" doc:name="Set Variable" doc:id="8d43ebe8-0bb8-485a-bb81-4ba40ff51c83" variableName="entidadOperacion"/>
		<choice doc:name="Choice" doc:id="fb39e0d5-374f-437f-a71b-fa7e4002ff0c" >
			<when expression="#[vars.entidadOperacion=='jep']">
				<flow-ref doc:name="Flow Reference" doc:id="7c4147cd-5e2a-4003-afa0-bb5594aade06" name="listarTransacionesJepAJep"/>
			</when>
			<when expression="#[vars.entidadOperacion=='bancoA']">
				<flow-ref doc:name="Flow Reference" doc:id="d85e9048-6f09-4878-8195-d3f48d96309e" name="listarTransaccionesJepDeBanco"/>
			</when>
			<when expression="#[vars.entidadOperacion=='banco_bancoAbanco']">
				<flow-ref doc:name="Flow Reference" doc:id="977324b8-ce2f-42cc-aba7-a50ab9707e8a" name="listarTransaccionesBancoABanco"/>
			</when>
			<when expression="#[vars.entidadOperacion=='banco_bancoDejep']">
				<flow-ref doc:name="Flow Reference" doc:id="daa1779d-b964-4fd8-80a5-540fa525894c" name="listarTransaccionesBancoDeJep"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4fae6095-b7d4-4c16-bb79-20f79108218b" message="#[&quot;REVISAR EL PATH O FLOW 'list_all_transaccions'&quot;]"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="MiCuenta" doc:id="6736c9b4-d2a6-4bb2-8f3a-1def4a76781d" >
		<http:listener doc:name="Listener" doc:id="0c6044c1-c6e1-4a7f-be2f-8e58de9d0fd2" config-ref="HTTP_Listener_config" path="/miCuenta" outputMimeType="application/json"/>
		<set-variable value="#[attributes.queryParams.entidad]" doc:name="Set Variable" doc:id="33e9633d-5e24-44e3-b3b1-b0711055f740" variableName="entidad"/>
		<choice doc:name="Choice" doc:id="4b4e3708-62e7-482f-968a-8ee9743b19fb" >
			<when expression="#[vars.entidad=='jep']">
				<db:select doc:name="MiCuentaJep" doc:id="8d65a52f-9658-4292-9d5d-471090a13f1e" config-ref="Database_CooperativaJep">
					<db:sql ><![CDATA[Select * from cuenta where per_id = :idPersona]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
'idPersona':payload.idPersona
}]]]></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="18aae59d-724d-4005-9596-160f725d0038">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="7f7c2339-6def-40e2-984b-f55340e70137" />
			</when>
			<when expression="#[vars.entidad=='bancoA']">
				<db:select doc:name="MiCuentaBancoAustro" doc:id="a9c09476-39d9-4905-aef3-a2d604322b28" config-ref="Database_BancoAustro">
					<db:sql ><![CDATA[Select * from cuenta where per_id = :idPersona]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
'idPersona':payload.idPersona
}]]]></db:input-parameters>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="a3973db9-453f-4c1d-bfc1-081161003b58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f7743ba3-5677-4a6e-965c-2280bd2cb68a" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="bf057063-fd37-4ce8-8f27-8644e475d863" />
			</otherwise>
		</choice>
	</flow>
	<flow name="Listadodemonedas" doc:id="b01ce8d9-eb70-434d-9420-4ab722e26500" >
		<http:listener doc:name="Listener" doc:id="5e4916b2-f785-4798-a1bc-9fa338e344c2" config-ref="HTTP_Listener_config" path="/listarMonedas"/>
		<http:request method="GET" doc:name="Request" doc:id="7be53c05-8bbe-4ccf-b89e-a173764fec4b" config-ref="HTTP_Request_configuration" path="/latest/USD"/>
	</flow>
</mule>
